h1 {
    color: blue;
}
h2 {
    color: green;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
    line-height: 10px;
}
ol {
    line-height: 30px;
}
html {
    background-color: rgba(230, 127, 30, 0.897);
}